<footer class="rounded-t-3xl border-t-1 border-x-1 border-gray-100 flex items-center justify-center fixed bottom-0 z-100 bg-[#FDFBF9] h-16 w-full">
  <div class="grid grid-cols-4 gap-4">
    <!-- 記録作成アイコン -->
    <%= link_to new_daily_record_path do %>
      <div class="flex flex-col items-center justify-center">
        <%= image_tag 'create_daily_records_icon.png', alt: '記録作成のアイコン', size: '30x30' %>
        <p class="text-xs">記録作成</p>
      </div>
    <% end %>
    <!-- グラフ確認アイコン -->
    <%= link_to charts_path do %>
      <div class="flex flex-col items-center justify-center">
        <%= image_tag 'index_daily_records_icon.png', alt: 'グラフ確認のアイコン', size: '30x30' %>
        <p class="text-xs">気分マップ</p>
      </div>
    <% end %>
    <!-- 行動マップアイコン -->
    <%= link_to action_items_path do %>
      <div class="flex flex-col items-center justify-center">
        <%= image_tag 'action_map_icon.png', alt: '行動マップアイコン', size: '30x30' %>
        <p class="text-xs">行動マップ</p>
      </div>
    <% end %>
    <!-- 連携情報アイコン -->
    <%= link_to care_relations_path do %>
      <div class="flex flex-col items-center justify-center">
        <%= image_tag 'index_care_relations_icon.png', alt: '連携情報アイコン', size: '30x30' %>
        <p class="text-xs">連携情報</p>
      </div>
    <% end %>
  </div>
</footer>
