<%= turbo_stream.replace "latest-record-link-card" do %>
  <div class="mt-8" id="latest-record-link-card">
    <% if @is_selected_current_user %>
      <div class="mb-3 flex items-center">
        <p class="mr-2 text-[15px] font-semibold text-[#25625d]">前回の記録</p>
        <!-- Xシェアボタン -->
        <% if @latest_record.present? %>
          <%= render "charts/shared/daily_record_x_share_button", latest_record: @latest_record %>
        <% end %>
      </div>
      <div>
        <% if @latest_record.present? %>
          <%= render partial: "daily_records/shared/card", locals: { user: @user, daily_record: @latest_record } %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<%= turbo_stream.replace "daily-records-index-button" do %>
  <div class="mt-4" id="daily-records-index-button">
    <% if @is_selected_current_user %>
      <%= render partial: "charts/shared/daily_records_index_button", locals: { user: @user } %>
    <% end %>
  </div>
<% end %>
