  <div>
    <div class="flex justify-center">
      <%= image_tag 'namimiru_logo_192x192.png', alt: 'ナミミルのロゴ', size: '36x36' %>
      <div class="ml-2 text-3xl font-bold text-[#484848]">
        ナミミル
      </div>
    </div>
    <div class="text-[#484848] text-center mt-2">
      言いにくい“いまの気分”を共有する
    </div>
    <%= button_to user_google_oauth2_omniauth_authorize_path, method: :post, data: { turbo: false } ,class:  "flex justify-center border border-[#B6B6B6] block w-full mt-8 py-2 text-center text-[#484848] font-semibold bg-white rounded-md" do %>
      <%= image_tag 'google_logo.png', alt: 'Googleのロゴ', size: '24x24' %>
      <div class="ml-2">
        Googleアカウントで新規登録
      </div>
    <% end %>
    <%= link_to "メールアドレスで新規登録", new_user_registration_path, class: "block w-full mt-4 py-2 text-center text-white font-semibold bg-[#67BDB7] rounded-md" %>
    <%= button_to "ゲストログインで試してみる", users_guest_sign_in_path, method: :post, class: "border border-[#B6B6B6] block w-full mt-4 py-2 text-center text-[#484848] font-semibold bg-white rounded-md" %>
    <div class="flex items-center my-8">
      <div class="flex-grow border-t border-gray-400"></div>
      <span class="text-xs mx-4 text-gray-700">すでにアカウントを持っている場合</span>
      <div class="flex-grow border-t border-gray-400"></div>
    </div>
    <div>
      <%= link_to "メールアドレスでログイン", new_user_session_path, class: "block w-full mt-4 py-2 text-center text-white font-semibold bg-[#67BDB7] rounded-md" %>
    </div>
    <%= button_to user_google_oauth2_omniauth_authorize_path, method: :post, data: { turbo: false } ,class:  "flex justify-center border border-[#B6B6B6] block w-full mt-8 py-2 text-center text-[#484848] font-semibold bg-white rounded-md" do %>
      <%= image_tag 'google_logo.png', alt: 'Googleのロゴ', size: '24x24' %>
      <div class="ml-2">
        Googleアカウントでログイン
      </div>
    <% end %>
  </div>
