<div>
  <div>
    <%= render 'shared/flash_message' %>
  </div>
  <div class="flex items-center">
    <div class="font-semibold text-string-base text-xl mr-4">
      マイページ
    </div> 
  </div>
  <div class="mt-4 mb-2 font-semibold text-string-base text-md">
    ユーザーネーム 
  </div>
  <div class="border border-border-base rounded-md px-4 py-2">
    <% if current_user.name %>
      <%= current_user.name %> 
    <% else %>
      ユーザーネーム未設定
    <% end %>
  </div>
  <div>
    <%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "mt-12 font-semibold text-red-400" %> 
  </div>
  <div>
    <div class="mt-12 mb-2 font-semibold text-string-base text-md">
      その他
    </div>
    <div>
      <%= link_to "利用規約", terms_of_service_path, class: "text-sm text-gray-600" %>
    </div>
    <div>
      <%= link_to "プライバシーポリシー", privacy_policy_path, class: "text-sm text-gray-600" %>
    </div>
    <div>
      <%= link_to "お問い合わせ", new_contact_path, class: "text-sm text-gray-600" %>
    </div>
  </div>
</div>
