<div>
  <div>
    <%= render 'shared/flash_message' %>
  </div>
  <div class="flex">
    <% if @user.name.blank? %>
      уГжуГ╝уВ╢уГ╝уГНуГ╝уГацЬкшинхоЪ
    <% else %>
      <div class="font-semibold">
        <%= @user.name %>
      </div>
    <% end %>
    <span class="font-semibold text-string-base text-md">уБХуВУуБошиШщМ▓х▒ецн┤</span> 
  </div>
  <% @daily_records.each do |daily_record| %>
    <!-- шиШщМ▓уБоуВлуГ╝уГЙUI -->
    <%= link_to user_daily_record_path(@user.id, daily_record.id) do %>
      <div class="border border-border-base p-4 my-4 rounded-md text-string-base">
        <div class="text-sm flex">
          <%= daily_record.created_at.strftime("%Y/%m/%d %H:%M") %>
          <!-- х┐ГуБМуВ╢уГпуВ╢уГпчК╢цЕЛуБауБишиШщМ▓уБЧуБЯха┤хРИуБлшбичд║ -->
          <% if daily_record.is_uneasy %>
            <div class="ml-2">
              тЭдя╕ПЁЯТн
            </div>
          <% end %>
        </div>  
        <div class="my-2">
          <span class="text-md">ц░ЧхИЖя╝Ъ </span>
          <span class="font-semibold text-md">
            <%= mood_display(daily_record.mood_score) %>
            я╝И<%= daily_record.mood_score %>я╝Й
          </span>
        </div>
        <div class="font-light">
          <%= daily_record.memo %>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="w-full flex justify-center">
    <div>
      <%= paginate @daily_records, window: 2 %>
    </div>
  </div>
</div>
