<div>
  <%= render 'shared/flash_message' %>
  <div class="font-semibold text-string-base text-xl my-4">
    今日はどんな気分？
  </div>
  <div data-controller="daily-records--mood-score">
    <%= form_with url: daily_records_path, method: :post, scope: :daily_record do |f| %>
      <div>
        <div class="flex items-center font-bold rounded-md border border-border-base p-4">
          <!-- 顔アイコン -->
          <div id="current-mood-icon" class="text-3xl">
          </div>
          <!-- 気分の表記（絶不調・とてもつらい・普通など） -->
          <div id="current-mood" class="ml-2 text-md">
          </div>
          <div>
            （<span id="current-mood-score"></span>）
          </div>
        </div>
        <%= f.range_field :mood_score, in: -5..5, id: "mood-range", data: { action: "input->daily-records--mood-score#update" } ,class: "w-full my-4" %>
      </div>
      <div class="my-4">
        <p class="font-semibold text-string-base">気付きメモ（任意）</p>
        <%= f.text_area :memo, size: "70x5", class: "w-full p-4 mt-2 border border-border-base rounded-md" %>
      </div>
      <%= f.submit "記録する", class: "my-8 bg-logo-color text-white font-semibold w-full py-1 rounded-md" %>
    <% end %>
  </div>
  <div>
    <%= button_to "ログアウト", destroy_user_session_path, method: :delete %> 
  </div>
</div>
