<div>
  <%= render 'shared/flash_message' %>
  <div class="font-semibold text-string-base text-xl my-4">
    今日はどんな気分？
  </div>
  <div data-controller="daily-records--mood-score">
    <%= form_with url: daily_records_path, method: :post do |f| %>
      <div class="flex">
        <%= f.range_field :mood_score, in: -5..5, id: "mood-range", data: { action: "input->daily-records--mood-score#update" } ,class: "w-5/6 mr-2" %>
        <div id="current-mood-score" class="flex justify-center items-center text-xl font-bold rounded-md aspect-square border border-border-base w-1/6">
        </div>
      </div>
      <div class="my-4">
        <p class="font-semibold text-string-base">気付きメモ（任意）</p>
        <%= f.text_area :memo, size: "70x5", class: "w-full mt-2 border border-border-base rounded-md" %>
      </div>
      <%= f.submit "記録する", class: "my-8 bg-logo-color text-white font-semibold w-full py-1 rounded-md" %>
    <% end %>
  </div>
  <div>
    <%= button_to "ログアウト", destroy_user_session_path, method: :delete %> 
  </div>
</div>
