<div class="my-28 mx-12">
  <div>
    <%= render 'shared/flash_message' %>
  </div>
  <div class="flex items-center">
    <div class="font-semibold text-string-base text-xl mr-4">
      記録の詳細
    </div> 
    <%= link_to "編集", edit_user_daily_record_path(@daily_record.user.id, @daily_record.id), class: "text-white font-medium bg-logo-color rounded-md px-4 py-2"%>
  </div>
  <div class="text-string-base">
    <!-- 気分 -->
    <div class="mt-4">
      <div class="font-semibold text-string-base text-md">
        気分
      </div> 
      <div class="my-2 p-2 border border-border-base rounded-md">
        <span class="font-semibold text-md">
          <%= mood_display(@daily_record.mood_score) %>
          （<%= @daily_record.mood_score %>）
        </span>
      </div>
    </div>
    <!-- 気付きメモ -->
    <div class="mt-4"> 
      <div class="font-semibold text-string-base text-md my-2">
        気付きメモ
      </div> 
      <div class="p-4 font-light border border-border-base rounded-md">
        <%= @daily_record.memo %>
      </div>
    </div>
    <!-- 心がザワザワしている状態と記録した場合に表示 -->
    <div class="mt-4"> 
      <div class="font-semibold text-string-base text-md my-2">
        心のザワザワ状況
      </div> 
      <div class="p-4 font-light border border-border-base rounded-md">
        <%= @daily_record.is_uneasy ? "心のザワザワがあった ❤️💭" : "心のザワザワはなかった" %>
      </div>
    </div>
    <!-- 作成時間 -->
    <div class="text-sm text-right my-2">
      <%= @daily_record.created_at.strftime("%Y/%m/%d %H:%M") %>
    </div>  
  </div>
</div>
</div>
