<div class="mx-4" data-controller="action-items--lists action-items--present-tags daily-records--mood-score range-slider--current-mood">
  <div>
    <%= render 'shared/flash_message' %>
  </div>
  <!-- 気分 -->
  <div class="mt-8">
    <p class="text-string-base text-md font-semibold mt-2 flex justify-center">気分</p>
    <div class="flex items-center justify-center font-bold rounded-md p-4">
      <!-- 顔アイコン -->
      <div id="current-mood-icon" class="text-3xl">
      </div>
      <!-- 気分の表記（絶不調・とてもつらい・普通など） -->
      <div id="current-mood" class="ml-2 text-md">
      </div>
      <div>
        （<span id="current-mood-score"></span>）
      </div>
    </div>
    <!-- スライダー -->
    <div class="flex justify-center my-2">
      <input type="range" min="-5" max="5" value="<%= @mood_score %>" id="mood-range" data-action="action-items--lists#update daily-records--mood-score#update input->range-slider--current-mood#updateColor" class="w-full mx-4 mb-4">  
    </div>
  </div>

  <!-- 行動項目追加ボタン -->
  <%= link_to new_action_item_path do %>
    <button class="rounded-full w-full px-5 py-2 my-4 bg-logo-color text-white font-semibold shadow-lg">
      ＋ 追加
    </button>
  <% end %>

  <!-- タグ検索 -->
  <div class="overflow-x-auto my-2 py-2">
    <div id="present-tags-list" class="flex space-x-2">
      <% if @present_tags.present? %>
        <% @present_tags.each do |tag| %> 
          <div data-action="click->action-items--present-tags#toggleActive click->action-items--present-tags#updateLists" class="shrink-0 border border-gray-400 text-sm rounded-lg px-2 py-1">
            # <%= tag.name %>
          </div>
        <% end %>
      <% else %>
        <div class="text-string-base font-semibold text-sm">
          まだ項目が存在しません。
        </div>
      <% end %>
    </div> 
  </div>

  <hr class="text-gray-200" />


  <!-- リスト -->
  <%= render "action_items/lists_frame" %>
</div>
