<div class="my-28 mx-12" data-controller="daily-records--mood-score">
  <p class="text-string-base font-semibold text-xl">項目の作成</p>
  <div class="my-8">
    <%= form_with model: @action_item do |f| %>
      <!-- 項目名の入力 -->
      <div>
        <p><%= f.label :name, "項目名" %></p>
        <%= f.text_field :name, placeholder: "自炊", class: "border border-border-base rounded-md w-full my-2 p-2", required: true %>
      </div>

      <!-- タグの入力 -->
      <div class="mt-4">
        <p><%= f.label :tag_name, "タグ" %></p>
        <%= f.text_field :tag_name, placeholder: "料理", class: "border border-border-base rounded-md w-full my-2 p-2", required: true %>
      </div>

      <!-- 気分の入力 -->
      <div class="mt-8">
        <p><%= f.label :enabled_from, "どの気分の段階から出来るようになりそうですか？" %></p>
        <div class="mt-2">
          <div class="flex items-center justify-center font-bold rounded-md p-4">
            <!-- 顔アイコン -->
            <div id="current-mood-icon" class="text-3xl">
            </div>
            <!-- 気分の表記（絶不調・とてもつらい・普通など） -->
            <div id="current-mood" class="ml-2 text-md">
            </div>
            <div>
              （<span id="current-mood-score"></span>）
            </div>
          </div>
          <div class="flex items-center justify-center font-bold rounded-md">
            から出来そう...!
          </div>
          <!-- スライダー -->
          <%= f.range_field :enabled_from, min: "-5", max: "5", id: "mood-range", data: { action: "daily-records--mood-score#update" } , class: "w-full my-4" %>
        </div>
      </div>

      <%= f.submit "作成", class: "bg-logo-color text-white w-full font-semibold rounded-md py-2 px-4 my-8" %>
    <% end %>
  </div>
</div>
