<div class="my-28 mx-12">
  <p class="text-string-base font-semibold text-xl">項目の作成</p>
  <div class="my-8">
    <%= form_with model: @action_item do |f| %>
      <div>
        <p><%= f.label :name, "項目名" %></p>
        <%= f.text_field :name, placeholder: "例) 自炊", class: "border border-border-base rounded-md w-full my-2 p-2", required: true %>
      </div>

      <div class="mt-8">
        <p><%= f.label :enabled_from, "どの気分の段階から出来るようになりそうですか？" %></p>
        <%= f.range_field :enabled_from, min: "-5", max: "5", class: "w-full my-4" %>
      </div>

      <%= f.submit "作成", class: "bg-logo-color text-white w-full font-semibold rounded-md py-2 px-4 my-8" %>
    <% end %>
  </div>
</div>
