<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Myapp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-447LGM8V3Z"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-447LGM8V3Z');
    </script>

    <link rel="manifest" href="/manifest.json">
    <%= favicon_link_tag('favicon.ico') %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>

  <body>
    <div class="bg-[#FFFFFD]">
      <div class="my-28 mx-12">
        <%= yield %>
      </div>
    </div>
    <!-- 新規登録・ログイン・トップ画面ではフッターは非表示-->
    <% unless (current_page?(root_path) || current_page?(new_user_registration_path) || current_page?(new_user_session_path)) && !user_signed_in? %>
      <%= render 'shared/footer' %>
    <% end %>
  </body>
</html>
