<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "ナミミル" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-447LGM8V3Z"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-447LGM8V3Z');
    </script>
    <!-- ブラウザーがPWAアプリを端末にインストールする際に必要な情報（アプリ名やアイコンなど）となるファイルの指定 -->
    <link rel="manifest" href="<%= pwa_manifest_path(format: :json) %>">
    <!-- iOSからPWAアプリとして開いた時に、アドレスバーを非表示 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- iOSからPWAアプリとして開いた時に、ステータスバーを背景透過 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <%= favicon_link_tag('favicon.ico') %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>

  <body>
    <!-- 新規登録・ログイン・トップ画面ではヘッダーは非表示-->
    <% if user_signed_in? %>
      <%= render 'shared/header' %>
    <% end %>
    <div class="bg-[#FFFFFD]">
      <div>
        <%= yield %>
      </div>
    </div>
    <!-- 新規登録・ログイン・トップ画面ではフッターは非表示-->
    <% if user_signed_in? %>
      <%= render 'shared/footer' %>
    <% end %>
  </body>
</html>
